p {
    background-color: rgb(254, 190, 15); 
    color: rgb(9, 0, 0);
    margin: 10px auto;
    width: 62rem;
    font-size: 45px;
    text-align: center;
}

body{
    background-color: BLACK;
}

h1{
    color: black;
    font-size: 45px;
}

h2{
    color: black;
    font-size: 30px;
    font-size: medium;
}

aside {
    width: 60rem;
    margin: 10px auto;  
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color:  rgb(254, 190, 15); 
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

